@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes text-appearing {
  100% {
    transform: translateX(0px);
  }
}
@keyframes text-disappearing {
  100% {
    transform: translateX(1660px);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes heart-background-fill {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@keyframes heart-stroke-appearing {
  100% {
    font-weight: 500;
    color: black;
  }
}
@keyframes menu-content-spawn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes checked-appearing {
  to {
    width: 60px;
  }
}
@keyframes checked-icon-rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes checked-disappearing {
  from {
    width: 60px;
  }
  to {
    width: 0px;
    display: none;
  }
}
.content-list__cards, .userguide__content i, .userguide__stape, .localisation, .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu, .presentation {
  display: flex;
  flex-direction: column;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo,
.menu__name {
  font-family: "Shrikhand", sans-serif;
}

main,
.localisation {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-size: 30px;
}
.logo--little {
  font-size: 17px;
  margin-bottom: 20px;
  color: white;
}

.title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 23px;
}
.title--center {
  text-align: center;
}
@media (min-width: 1000px) {
  .title {
    font-size: 30px;
  }
}

.subtitle {
  color: #353535;
  margin-top: 15px;
}
.subtitle--center {
  text-align: center;
}

.section {
  padding: 20px;
}
.section--dark-background {
  background-color: #f6f6f6;
}

.icon--grey::before {
  color: #7e7e7e;
}
.icon--white::before {
  color: white;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 251, 251, 0.2941176471);
  backdrop-filter: blur(5px);
  z-index: 1;
  animation: loader 1s 3.5s forwards;
}
.loader__text {
  font-family: "Shrikhand", sans-serif;
  font-size: 60px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 rgb(0, 0, 0), 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 #fff;
  transform: translateX(-1600px);
}
.loader__text--1 {
  color: #9356dc;
  animation: text-appearing 1s 1s forwards, text-disappearing 1s 3s forwards;
}
.loader__text--2 {
  color: #99e2d0;
  animation: text-appearing 1s 0.5s forwards, text-disappearing 1s 2.5s forwards;
}
.loader__text--3 {
  color: #ff79da;
  animation: text-appearing 1s forwards, text-disappearing 1s 2s forwards;
}

.header {
  position: relative;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}
.header__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
}

.footer {
  background-color: #353535;
  padding: 20px 0px 30px 20px;
  color: white;
}
@media (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__link {
  margin-top: 10px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link--thin {
  font-weight: 300;
}
.footer__link i {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.localisation {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 7px 0px #d8dede;
  color: #353535;
}
.localisation__text {
  font-weight: 600;
}
.localisation__ico {
  margin-right: 15px;
}

.presentation {
  width: 100%;
}
.presentation__button {
  border-radius: 90px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(180deg, #ff79da, #9356dc 100%);
  padding: 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2745098039);
  transition: 0.3s;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.presentation__button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2745098039);
}

@media (min-width: 1000px) {
  .userguide {
    text-align: center;
  }
}
.userguide__stapes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .userguide__stapes {
    justify-content: center;
    flex-direction: row;
  }
}
.userguide__stape {
  position: relative;
  width: 80%;
  max-width: 470px;
  min-width: 300px;
  margin: 20px;
  margin-bottom: 0px;
  padding: 23px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2745098039);
  background-color: #f6f6f6;
}
@media (min-width: 1000px) {
  .userguide__stape:last-child {
    margin-bottom: 3px;
  }
}
.userguide__stape:nth-child(1)::before {
  content: "1";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  border-radius: 100%;
  color: white;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userguide__stape:nth-child(2)::before {
  content: "2";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  border-radius: 100%;
  color: white;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userguide__stape:nth-child(3)::before {
  content: "3";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  border-radius: 100%;
  color: white;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userguide__content {
  margin-left: 10px;
  width: 100%;
  display: flex;
  color: black;
  font-weight: 800;
}
.userguide__content i {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.content-list__title {
  margin-top: 30px;
}
@media (min-width: 1000px) {
  .content-list__title {
    text-align: center;
  }
}
.content-list__cards {
  flex-direction: column;
  margin-top: 10px;
}
@media (min-width: 800px) {
  .content-list__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .content-list__cards {
    margin: 100px;
  }
}

.card {
  border-radius: 15px;
  height: 250px;
  min-width: 320px;
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2745098039);
  position: relative;
}
.card__new {
  top: 10px;
  right: 9px;
  padding: 6px 10px;
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  color: #008766;
  background-color: #99e2d0;
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 15px 15px 0px 0px;
  object-position: 50% 60%;
  transition: height 0.2s;
}
.card__img:hover {
  height: 70%;
}
.card__content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__content__title {
  font-weight: 800;
  margin-bottom: 3px;
}
.card__content__heart {
  font-size: 25px;
  font-weight: 500;
  transition: 0.2s;
  color: transparent;
  animation: heart-stroke-appearing 0.5s forwards;
  transition: 1s ease-in;
}
.card__content__heart:hover::before {
  animation: heart-background-fill 0.5s forwards;
  font-weight: bold;
  background: linear-gradient(360deg, #ff79da, #9356dc, #ffffff);
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.2s;
}

.menu {
  position: relative;
  align-items: center;
  margin-top: -30px;
  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  max-width: 1115px;
  margin-right: auto;
  margin-left: auto;
}
.menu__img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
.menu__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__heart {
  font-size: 25px;
  font-weight: 500;
  transition: 0.2s;
  color: transparent;
  animation: heart-stroke-appearing 0.5s forwards;
  transition: 1s ease-in;
}
.menu__heart:hover::before {
  animation: heart-background-fill 0.5s forwards;
  font-weight: bold;
  background: linear-gradient(360deg, #ff79da, #9356dc, #ffffff);
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.2s;
}
.menu__categorie {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: 100;
}
.menu__categorie::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 3px;
  margin-top: 5px;
  background-color: #99e2d0;
}
.menu__entrees, .menu__plats, .menu__deserts {
  width: 100%;
}
.menu__element:nth-child(1) {
  animation: menu-content-spawn 1s forwards 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu__element:nth-child(2) {
  animation: menu-content-spawn 1s forwards 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu__element:nth-child(3) {
  animation: menu-content-spawn 1s forwards 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu__element:nth-child(4) {
  animation: menu-content-spawn 1s forwards 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu__element {
  display: flex;
  opacity: 0;
  height: 70px;
  background-color: white;
  margin: 10px 0px;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.1176470588);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.menu__element__label {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.menu__element__title {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__element__subtitle {
  margin-top: 5px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__element__content {
  padding: 15px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__element__price {
  font-weight: 700;
  margin: 10px 15px;
  margin-top: auto;
}
.menu__button {
  border-radius: 90px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(180deg, #ff79da, #9356dc 100%);
  padding: 15px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2745098039);
  transition: 0.3s;
  padding: 15px 55px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu__button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2745098039);
}

.confirmation__checkbox {
  display: none;
}
.confirmation__checkbox:not(:checked) ~ .confirmation__container {
  animation: checked-disappearing 0.5s forwards;
}
.confirmation__checkbox:checked ~ .confirmation__container {
  animation: checked-appearing 0.5s forwards;
}
.confirmation__checkbox:checked ~ .confirmation__container:last-child div {
  animation: checked-icon-rotation 0.5s forwards;
}
.confirmation__checkbox:checked ~ .confirmation__container:last-child i {
  font-size: 25px;
}
.confirmation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 73px;
  background-color: #99e2d0;
}
.confirmation__container-icon__icon {
  font-size: 0px;
}

/*# sourceMappingURL=styles.css.map */
