// COLORS
$priamire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

// BACKGROUND
$background: #f6f6f6;

//GREY
$grey: #353535;
$light-grey: #7e7e7e;

//GRADIENTS
$gradient: linear-gradient(180deg, $secondaire, $priamire 100%);


// FONTS
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;

//BREAKPOINTS
$breakpoints : (
    "tablette" : 800px,
    "computer" : 1000px,
)


