// LOGO
.logo {
  font-size: 30px;
  &--little {
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
  }
}

// TITRE ET SOUS TITRE
.title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 23px;
  &--center {
    text-align: center;
  }
  @include computer {
    font-size: 30px;
  }
}
.subtitle {
  color: $grey;
  margin-top: 15px;
  &--center {
    text-align: center;
  }
}
//FOND
.section {
  padding: 20px;

  &--dark-background {
    background-color: $background;
  }
}

// ICON COLOR
.icon {
  &--grey::before {
    color: $light-grey;
  }
  &--white::before {
    color: white;
  }
}


