// LOGO
.logo {
  font-size: 30px;
  &--little {
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
  }
}

// TITRE ET SOUS TITRE
.title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 23px;
  &--center {
    text-align: center;
  }
}
.subtitle {
  color: $grey;
  margin-top: 15px;
  &--center {
    text-align: center;
  }
}
//FOND
.section {
  padding: 20px;

  &--dark-background {
    background-color: $background;
  }
}
//BOUTTON
.global__button {
  border-radius: 90px;
  border: none;
  color: white;
  font-weight: 700;
  background: $gradient;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px #00000046;

}

// ICON COLOR
.icon {
  &--grey::before {
    color: $light-grey;
  }
}
