// LOCALISATION

.localisation {
  @extend %flex-center;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 7px 0px #d8dede;
  color: $grey;
  &__text {
    font-weight: 600;
  }
  &__ico {
    margin-right: 15px;
  }
}

// PRESENTATION
.presentation {
  @extend %flex-column;

  width: 100%;
  &__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

// FONCTIONNEMENT
.operation {
  // ETAPE
  &__stapes {
    margin-top: 30px;
  }
  &__stape {
    @extend %flex-center;
    position: relative;

    margin: 20px;
    margin-bottom: 25px;

    padding: 23px;
    border-radius: 20px;

    box-shadow: 1px 1px 10px 1px #00000046;
    background-color: $background;

    @for $i from 1 to 4 {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
        display: inline-block;
        position: absolute;

        width: 30px;
        height: 30px;
        left: -15px;

        border-radius: 100%;
        color: white;
        background-color: $priamire;

        @include flex-center;
      }
    }
  }

  // CONTENU DES ETAPES
  &__content {
    margin-left: 10px;
    width: 100%;
    display: flex;
    color: black;
    font-weight: 800;
    & i {
      margin-right: 10px;
      height: 20px;
      width: 20px;
      @extend %flex-center;
    }
  }
}

.restaurant {
  &__title {
    margin-top: 30px;
  }
  &__cards {
    @extend %flex-center;
    flex-direction: column;
    margin-top: 10px;
  }
  &__card {
    border-radius: 15px;
    height: 250px;
    width: 320px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #00000046;
    position: relative;

    &__new {
      top: 10px;
      right: 9px;
      padding: 6px 10px;
      position: absolute;
      font-size: 13px;
      font-weight: 500;
      border-radius: 3px;
      color: #008766;
      background-color: #99e2d0;
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: 75%;
      border-radius: 15px 15px 0px 0px;
      object-position: 50% 60%;
      &::after {
        content: "Nouveau";
        display: inline;
        position: relative;
        width: 100px;
        height: 100px;
        background-color: black;
      }
    }
    &__content {
      padding: 10px;
    }
    &__title {
      font-weight: 800;
      margin-bottom: 3px;
    }
  }
}


